html, body {
  overflow-y: hidden !important;
}

.wrapper {
  background-color: #faf8f8 !important;
}

.text-13 {
  font-size: 13px;
}

nav a {
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}