<div class="form-group row">
  <div class="col-md-12">
    <p class="h5 font-weight-bolder under-line">Contact Me</p>
  </div>
  <div class="col-md-12">
    <p class="h6 font-weight-bolder">Contact #: {{ contact?.details }}</p>
  </div>
  <div class="col-md-12">
    <p class="h6 font-weight-bolder">Email address: {{ email?.details }}</p>
  </div>
  <div class="col-md-12">
    <p class="h6 font-weight-bolder">Facebook: <a href="{{ facebookUrl }}" target="_blank">{{ facebookLabel }}</a></p>
  </div>
</div>